@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: 'Poppins', Arial, sans-serif;
}

body {
  @apply bg-white dark:bg-gray-50;

  @media (prefers-color-scheme: white) {
    color-scheme: white;
  }
}

html {
  scroll-snap-type: y mandatory;
}

.section {
  scroll-snap-align: start;
}


@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  display: flex;
  gap: 8rem;
  width: max-content;
  animation: marquee 150s linear infinite;
}

.main-container {
  /* height: 100vh; */
  width: 100vw;
  display: flex;
  /* padding: 16px; */
  border-radius: 25px;
  align-items: center;
  padding-right: 32px;

  .kontainer {
    height: 100%;
    width: 100%;
    /* background: rgb(78, 112, 226); */
    display: flex;
    flex-direction: column;
    padding-top: 0em;
    border-radius: 24px;
  }

  .item {
    background: rgb(255, 255, 255);
    height: 4em;
    width: 6em;
    margin-left: 0em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px 0 24px  0;
    position: relative;

    &::after {
      content: '';
      background: transparent; /* Ensure background color is applied */
      height: 2em;
      width: 2em;
      position: absolute;
      bottom: -2em;
      left: 0em;
      border-radius: 24px 0 0 0;
      box-shadow: -5px -10px 0 0 rgb(255, 255, 255);
    }

    &::before {
      content: '';
      background: transparent; /* Apply background color */
      height: 2em;
      width: 2em;
      position: absolute;
      top: 0em;
      left: 6em;
      border-radius: 24px 0 0 0 ;
      box-shadow: -5px -10px 0 0 rgb(255, 255, 255);
    }
  }
}
