@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: 'Poppins', Arial, sans-serif;
}

body {
  @apply bg-white dark:bg-gray-50;

  @media (prefers-color-scheme: white) {
    color-scheme: white;
  }
}

html {
  scroll-snap-type: y mandatory;
}

.section {
  scroll-snap-align: start;
}


@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  display: flex;
  gap: 8rem;
  width: max-content;
  animation: marquee 150s linear infinite;
}

.main-container {
  width: 100vw;
  display: flex;
  border-radius: 25px;
  align-items: center;
  padding-right: 32px;

  .kontainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 0em;
    border-radius: 24px;
  }

  .item {
    background: rgb(255, 255, 255);
    height: 4em;
    width: 10em;
    margin-left: 0em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px 0 24px 0;
    position: relative;

    &::after {
      content: '';
      background: transparent;
      height: 2em;
      width: 2em;
      position: absolute;
      bottom: -2em;
      left: 0em;
      border-radius: 24px 0 0 0;
      box-shadow: -5px -10px 0 0 rgb(255, 255, 255);
    }

    &::before {
      content: '';
      background: transparent;
      height: 2em;
      width: 2em;
      position: absolute;
      top: 0em;
      left: 10em;
      border-radius: 24px 0 0 0;
      box-shadow: -5px -10px 0 0 rgb(255, 255, 255);
    }
  }
}


.itemCard {
  background: rgb(255, 255, 255);
  height: 4em;
  width: 10em;
  margin-left: 0em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px 0 24px 0;
  position: relative;

  &::after {
    content: '';
    background: transparent;
    height: 2em;
    width: 2em;
    position: absolute;
    bottom: -2em;
    left: 0em;
    border-radius: 24px 0 0 0;
    box-shadow: -5px -10px 0 0 rgb(255, 255, 255);
  }

  &::before {
    content: '';
    background: transparent;
    height: 2em;
    width: 2em;
    position: absolute;
    top: 0em;
    left: 10em;
    border-radius: 24px 0 0 0;
    box-shadow: -5px -10px 0 0 rgb(255, 255, 255);
  }
}



.image-container {
  position: relative;
  overflow: hidden;
}

.image-background {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: transform 5s ease-in-out;
}

.image-container:hover .image-background {
  transform: scale(1.2);
}

.image-text {
  position: absolute;
  z-index: 10;
}


.glassy {
  background: rgba(255, 255, 255, 0.05);
  /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
  backdrop-filter: blur(14.5px);
  -webkit-backdrop-filter: blur(14.5px);
  border-radius: 24px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}


.lg_pd {
  padding: 110px 128px;
}

.sm_pd {
  padding: 10px 16px;
}

.md_pd {
  padding: 10px 16px;
}


@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%); /* Only translate half the container, as we repeat the logos */
  }
}

.animate-marquee {
  display: flex;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 80s linear infinite;
}

.flex-shrink-0 {
  flex-shrink: 0;
}
